html, body {
  margin: 0;
  scroll-behavior: smooth;
  height: 100%
}

a:hover {
	text-decoration: none !important;
}

/* senior project */

.project-wrapper {
	height: 100%;
	background-color: #f8f9fa;
	font-family: 'Montserrat', sans-serif;
}

.project-title-div {
	text-align: center;
	padding-top: 20px;
}

.project-title-col {
	display: flex;
	align-items: center;
}

.project-main-img {
	width: 300px;
}

.project-hr {
	border: 1px solid #DED55B;
	margin: 20px 2% 20px 2%;
}

.project-description {
	margin-bottom: 20px;
}

.carousel {
	width: inherit;
}

.carousel-item {
	background-color: #adb5bd;
}

.d-block {
	height: 250px;
}

.project-img-caption {
	float: right;
	position: relative;
	bottom: 240px;
	margin-right: 65px;
	height: 0px;
	max-width: 280px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	width: 35px;
	height: 35px;
}

/* personal website */

.my-info {
	background-color: #EFE88A;
	height: 40%;
}